#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2e3842;
}
#header4-1 H1 {
  font-size: 60px;
}
#header4-1 P {
  font-size: 20px;
}
#msg-box3-4 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4 .mbr-article P {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
#social-buttons2-32 .mbr-header__text {
  color: #9c9c9c;
  text-align: center;
}
#footer1-18 P {
  text-align: center;
  color: #9c9c9c;
  font-size: 15px;
}
#ext_menu-20 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-20.mbr-navbar--stuck .mbr-navbar__section {
  background: #2e3842;
}
#header4-21 H1 {
  font-size: 60px;
}
#header4-21 P {
  font-size: 24px;
}
#msg-box3-26 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-26 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#footer1-24 P {
  text-align: center;
  color: #9c9c9c;
  font-size: 15px;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2e3842;
}
#header4-9 H1 {
  font-size: 60px;
}
#header4-9 P {
  font-size: 24px;
}
#content4-15 P {
  color: #252525;
  text-align: left;
}
#features1-16 P {
  text-align: center;
  color: #000000;
}
#footer1-18 P {
  text-align: center;
  color: #9c9c9c;
  font-size: 15px;
}
#ext_menu-27 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-27.mbr-navbar--stuck .mbr-navbar__section {
  background: #2e3842;
}
#header4-28 H1 {
  font-size: 60px;
}
#header4-28 P {
  font-size: 22px;
}
#header4-28 B {
  font-size: 32px;
}
#footer1-31 P {
  text-align: center;
  color: #9c9c9c;
  font-size: 15px;
}
#ext_menu-33 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-33.mbr-navbar--stuck .mbr-navbar__section {
  background: #2e3842;
}
#header4-34 H1 {
  font-size: 60px;
}
#header4-34 P {
  font-size: 24px;
}
#msg-box3-22 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#msg-box3-22 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-22 .mbr-article P {
  color: #000000;
}
#footer1-37 P {
  text-align: center;
  color: #9c9c9c;
  font-size: 15px;
}
#ext_menu-23 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-23.mbr-navbar--stuck .mbr-navbar__section {
  background: #2e3842;
}
#header4-24 H1 {
  font-size: 60px;
}
#header4-24 P {
  font-size: 24px;
}
#msg-box3-29 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-29 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-29 .mbr-article P {
  color: #000000;
}
#msg-box3-29 .mbr-article {
  color: #000000;
  font-size: 19px;
}
#pricing-table1-28 SPAN {
  font-size: 45x;
}
#footer1-27 P {
  text-align: center;
  color: #9c9c9c;
  font-size: 15px;
}
